.DS_Store
.*.sw?
*.cso
tmp
lib
PhoneGapInstaller.pkg

/PhoneGapLib/javascripts/phonegap-uncompressed.js
*.mode1v3
*.pbxuser
build
_build.bak
/PhoneGap.framework/
/pkg_error_log
*.xcworkspace
xcuserdata
/dist/
/Markdown_1.0.1/
Markdown_*.zip
example
