.DS_Store
.*.sw?
*.cso
tmp
lib
*.mode1v3
*.pbxuser
build
_build.bak
/Cordova.framework/
*.xcworkspace
xcuserdata
example
CordovaLib/javascript/cordova-*.js
CordovaLib/CordovaLibApp/www/cordova.ios.js
console.log
