.DS_Store
.*.sw?
*.cso
tmp
lib
CordovaInstaller.pkg
*.mode1v3
*.pbxuser
build
_build.bak
/Cordova.framework/
/pkg_error_log
*.xcworkspace
xcuserdata
/dist/
/Markdown_1.0.1/
Markdown_*.zip
example

wkhtmltopdf.dmg
wkhtmltopdf/