body {
	width: 				360px;
	height: 			620px;
	font-family: 		Helvetica;
	margin:				0px;
	font-size:			16pt;
}

.header {
	width:				100%;
	text-align:			center;
	font-size:			27pt;
	padding:			20px 0px;
}

.menu {
	width:				100%;
	height:				120px;
	font-size:			18pt;
}
.menu-item {
	width:				118px;
	height:				25px;
	text-align:			center;
	float:				left;
	padding:			5px 0px;
	background-color:	#0F659C;
	border:				1px solid white;
}
.selected {
	background-color:	#78B2D1;
}

.view {
	padding-top:		20px;
}

.list {
	width:				100%;
}

.list-item {
	padding:			8px 2px;
}

.list-item-small {
	font-size:			13pt;
	padding-top:		3px;
	float:				right;
}

.contacts {
	width:				100%;
}

.nitobi-logo {
	position:			absolute;
	bottom:				10px;
	right:				10px;
	height:				35px;
	width:				35px;
}

.img_preview {
	width:				340px;
}
