<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.objectiveCApplication</string>
		<string>com.apple.dt.unit.iPhoneBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAME___-Info.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>./___PACKAGENAME___-Info.plist</string>
			<key>PathType</key>
			<string>Group</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___PACKAGENAME___Prefix.pch</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>./___PACKAGENAME___-Prefix.pch</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>Classes/AppDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>./Classes/AppDelegate.h</string>
			<key>PathType</key>
			<string>Group</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Classes/AppDelegate.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>./Classes/AppDelegate.m</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>./main.m</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>PhoneGap</key>
		<dict>
			<key>Path</key>
			<string>/Users/Shared/PhoneGap/Frameworks/PhoneGap.framework</string>
			<key>PathType</key>
			<string>Absolute</string>
		</dict>
		<key>PhoneGap.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>./PhoneGap.plist</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>Plugins/README</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Plugins</string>
			</array>
			<key>Path</key>
			<string>./Plugins/README</string>
			<key>PathType</key>
			<string>Group</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/Capture.bundle</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>./Resources/capture.bundle</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>Resources/en.lproj/Localizable.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>en.lproj</string>
			</array>
			<key>Path</key>
			<string>./Resources/en.lproj/Localizable.strings</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>Resources/es.lproj/Localizable.strings</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>es.lproj</string>
			</array>
			<key>Path</key>
			<string>./Resources/es.lproj/Localizable.strings</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>Resources/icons/icon-72.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>icons</string>
			</array>
			<key>Path</key>
			<string>./Resources/icons/icon-72.png</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>Resources/icons/icon.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>icons</string>
			</array>
			<key>Path</key>
			<string>./Resources/icons/icon.png</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>Resources/icons/icon@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>icons</string>
			</array>
			<key>Path</key>
			<string>./Resources/icons/icon@2x.png</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>Resources/splash/Default.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>splash</string>
			</array>
			<key>Path</key>
			<string>./Resources/splash/Default.png</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
		<key>Resources/splash/Default@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>splash</string>
			</array>
			<key>Path</key>
			<string>./Resources/splash/Default@2x.png</string>
			<key>PathType</key>
			<string>Group</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for a PhoneGap based application. On first run, it will create the www folder. You must drag and drop in the www folder into your project (as a folder reference). Then just modify the www folder contents with your HTML, CSS and Javascript.</string>
	<key>Identifier</key>
	<string>com.phonegap.ios.template</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>main.m</string>
		<string>PhoneGap</string>
		<string>___PACKAGENAME___-Prefix.pch</string>
		<string>___PACKAGENAME___-Info.plist</string>
		<string>Resources/en.lproj/Localizable.strings</string>
		<string>Resources/es.lproj/Localizable.strings</string>
		<string>Resources/icons/icon.png</string>
		<string>Resources/icons/icon@2x.png</string>
		<string>Resources/icons/icon-72.png</string>
		<string>Resources/splash/Default.png</string>
		<string>Resources/splash/Default@2x.png</string>
		<string>Resources/Capture.bundle</string>
		<string>PhoneGap.plist</string>
		<string>Classes/AppDelegate.h</string>
		<string>Classes/AppDelegate.m</string>
		<string>Plugins/README</string>
	</array>
	<key>Options</key>
	<array/>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
		<key>SDK</key>
		<string>iphoneos</string>
		<key>SharedSettings</key>
		<dict>
			<key>ARCHS</key>
			<string>$(ARCHS_STANDARD_32_BIT)</string>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
			<key>GCC_VERSION</key>
			<string>com.apple.compilers.llvmgcc42</string>
			<key>IPHONEOS_DEPLOYMENT_TARGET</key>
			<string>3.0</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>
								if [ ! -d &quot;$PROJECT_DIR/www&quot; ] ; then
									cp -R /Users/Shared/PhoneGap/Frameworks/PhoneGap.framework/www &quot;$PROJECT_DIR&quot;
								fi
								# detect www folder reference in project, if missing, print warning
								grep &quot;{isa = PBXFileReference; lastKnownFileType = folder; path = www; sourceTree = \&quot;&lt;group&gt;\&quot;; };&quot; &quot;$PROJECT_DIR/$PROJECT_NAME.xcodeproj/project.pbxproj&quot;
								rc=$? 
								if [ $rc != 0 ] ; then
								echo -e &quot;warning: Missing - Add $PROJECT_DIR/www as a folder reference in your project. Just drag and drop the folder into your project, into the Project Navigator of Xcode 4. Make sure you select the second radio-button: &apos;Create folder references for any added folders&apos; (which will create a blue folder)&quot; 1&gt;&amp;2
								fi							</string>
				</dict>
			</array>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>NO</string>
					<key>GCC_DYNAMIC_NO_PIC</key>
					<string>NO</string>
				</dict>
				<key>Release</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>YES</string>
					<key>DEBUG_INFORMATION_FORMAT</key>
					<string>dwarf-with-dsym</string>
					<key>VALIDATE_PRODUCT</key>
					<string>YES</string>
				</dict>
			</dict>
			<key>Frameworks</key>
			<array>
				<string>Foundation</string>
				<string>UIKit</string>
				<string>CoreGraphics</string>
				<string>AddressBook</string>
				<string>AddressBookUI</string>
				<string>AudioToolbox</string>
				<string>AVFoundation</string>
				<string>CoreLocation</string>
				<string>MediaPlayer</string>
				<string>QuartzCore</string>
				<string>SystemConfiguration</string>
				<string>MobileCoreServices</string>
				<string>CoreMedia</string>
			</array>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>OtherFrameworks</key>
			<array/>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>YES</string>
				<key>FRAMEWORK_SEARCH_PATHS</key>
				<string>/Users/Shared/PhoneGap/Frameworks</string>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<string>PHONEGAP_FRAMEWORK=YES</string>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
				<key>OTHER_LDFLAGS</key>
				<string>-weak_framework UIKit -weak_framework AVFoundation -weak_framework CoreMedia -weak_library /usr/lib/libSystem.B.dylib</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1,2</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
