<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DetectPhoneNumber</key>
	<true/>
	<key>TopActivityIndicator</key>
	<string>gray</string>
	<key>EnableLocation</key>
	<false/>
	<key>EnableAcceleration</key>
	<true/>
	<key>EnableViewportScale</key>
	<false/>
	<key>ExternalHosts</key>
	<array/>
	<key>Plugins</key>
	<dict>
		<key>Accelerometer</key>
		<string>PGAccelerometer</string>
		<key>Camera</key>
		<string>PGCamera</string>
		<key>Connection</key>
		<string>PGConnection</string>
		<key>Contacts</key>
		<string>PGContacts</string>
		<key>DebugConsole</key>
		<string>PGDebugConsole</string>
		<key>Contacts</key>
		<string>PGContacts</string>
		<key>File</key>
		<string>PGFile</string>
		<key>FileTransfer</key>
		<string>PGFileTransfer</string>
		<key>Image</key>
		<string>PGImage</string>
		<key>Location</key>
		<string>PGLocation</string>
		<key>Movie</key>
		<string>PGMovie</string>
		<key>Network</key>
		<string>PGNetwork</string>
		<key>Notification</key>
		<string>PGNotification</string>
		<key>Sound</key>
		<string>PGSound</string>
		<key>Capture</key>
		<string>PGCapture</string>
	</dict>
</dict>
</plist>
